html, body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../textures/PNG/Environment/dirt.png');
    background-repeat: repeat;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


player {
	width:84px; height:84px;
	background-image: url('../textures/Edited/customTank1.png');
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-transform-origin: 42px 42px; /* Safari and Chrome */
    -moz-transform-origin:50% 50%; /* Firefox */
    -o-transform-origin:50% 50%; /* Opera */
    z-index: 100;
}

bullet {
	width:34px; height:20px;
	background-image: url('../textures/Edited/bulletBlueSilver_outline.png');
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Safari and Chrome */
    -moz-transform-origin:50% 50%; /* Firefox */
    -o-transform-origin:50% 50%; /* Opera */
    z-index: 90;
}

smoke {
	width:102px; height:102px;
	background-image: url('../textures/Edited/smoke_plume_small.gif');
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Safari and Chrome */
    -moz-transform-origin:50% 50%; /* Firefox */
    -o-transform-origin:50% 50%; /* Opera */
    z-index: 110;
}